<!DOCTYPE html>
<html>
<form method="POST" action='/drinksurvey'>
  <p> Your Name:<input type="text" name ="name"></p>
  
  <p> Favorite Drink:<select name = "favdrink">
  <option value="iced tea">iced tea</option>
  <option value="lemonade">lemonade</option>
  <option value="soda">soda</option>
  <option value="alcoholic beverage">alcoholic beverage</option>
</select></p>
<input type="submit">
</form>
</html>