<!DOCTYPE html>
<html>
<form method="POST" action='/:survey'>
  <p> Your Name: <input type="text" name ="name"> </p>
  <p> Favorite Drink: <input type = "text" name="favdrink"> </p>
  <input type="submit">
</form>
</html>